@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-futura;
  }
  strong, b {
    @apply font-futuraBold;
  }
}

#navbar-menu .current_page_item,
#navbar-menu .current-menu-item {
  @apply !text-orangeG !font-futuraBold underline;
}
/* ----------------------- item 34 = proyectos */
li#menu-item-34 {
  @apply relative;
}
li#menu-item-34 ul.sub-menu {
  @apply hidden absolute bg-white !text-greenG shadow-sm py-3 w-56 ;
}
li#menu-item-34:hover ul.sub-menu {
  @apply block;
}
li#menu-item-34 ul.sub-menu li.menu-item {
  @apply my-2 ;
}

/* --------------------------------- Home Page -------------------- */
.bg-greenwhiteG{
  background-color: #E3E8E3;
}
.cardVivienda{
  background-image: url(../img/card-compracasitas.png);
}
.sectionAsesores{
@apply bg-center bg-cover;
  background-image: url(../img/BANNER-CALL-CENTER.jpg);
}

.bg-blackOp{
  background-color: #1E1E1E99;
}
/* Admin pages */
.postbox .inside {
  @apply flex flex-row;
}
