@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-futura;
  }
  strong, b {
    @apply font-futuraBold;
  }
}

#navbar-menu .current_page_item,
#navbar-menu .current-menu-item {
  @apply !text-orangeG !font-futuraBold underline;
}
/* ----------------------- item 34 = proyectos */
#navbar-menu li#menu-item-34 {
  @apply relative;
}
#navbar-menu li#menu-item-34 ul.sub-menu {
  @apply hidden absolute bg-white !text-greenG shadow-sm py-3 w-56 ;
}
#navbar-menu li#menu-item-34:hover ul.sub-menu {
  @apply block;
}
#navbar-menu li#menu-item-34 ul.sub-menu li.menu-item {
  @apply my-2 ;
}

/* ----------------------- Footer */
#footer-menu > li.menu-item.menu-item-has-children > a {
@apply uppercase font-futuraBold text-xl block mt-5;
}
#footer-menu li.menu-item.menu-item-has-children > ul li {
@apply hover:text-orangeG ml-5 lg:ml-0;
}
/* --------------------------------- Home Page -------------------- */
.bg-greenwhiteG{
  background-color: #E3E8E3;
}
.cardVivienda{
  background-image: url(../img/card-compracasitas.png);
}
.sectionAsesores{
@apply bg-left lg:bg-center bg-cover;
  background-image: url(../img/BANNER-CALL-CENTER.jpg);
}

.bg-blackOp{
  background-color: #1E1E1E99;
}
/* Admin pages */
.postbox .inside {
  @apply flex flex-row;
}

/* Accordeon */
.accordion {
  position: relative;
  /*background-color: #eee;*/
  cursor: pointer;
  padding: 18px 18px 0px 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/*.active, .accordion:hover {
  background-color: #eee;
}*/

/* Style the accordion panel. Note: hidden by default */
.panel {
  position: relative;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel:after {
  content: '\0276E'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  position: absolute;
  bottom: -5px;
  margin-left: 5px;
  transform: rotate(90deg);
  width: 10px;
  top: 6;
  left: 50%;
  margin-left: -5px;
}

.accordion:after {
  content: '\0276E'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  position: absolute;
  bottom: -17px;
  margin-left: 5px;
  transform: rotate(90deg);
  width: 10px;
  top: 6;
  left: 50%;
  margin-left: -5px;
}

.panel.active:after {
  content: "\0276E"; /* Unicode character for "minus" sign (-) */
  transform: rotate(-90deg);
}

.accordion.active:after{
  content: ''!important;
}

.accordion span, .panel p{
  width: 100%;
  float: left;
  border-bottom: 1px solid #000;
}

/* ---------------------------------------------------------------- Mobile Navbar Style */

.mobile-nav__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 45;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
  transition: visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
  transition: transform 500ms ease 500ms, visibility 500ms ease 500ms;
  transition: transform 500ms ease 500ms, visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
  visibility: hidden;
}

.mobile-nav__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.5;
  cursor: pointer;
}

.mobile-nav__wrapper.expanded {
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  visibility: visible;
  -webkit-transition: visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
  transition: visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
  transition: transform 500ms ease 0ms, visibility 500ms ease 0ms;
  transition: transform 500ms ease 0ms, visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
}

.mobile-nav__content {
  width: 220px;
  z-index: 10;
  position: relative;
  height: 100%;
  float: right;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
  transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
  transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms, transform 500ms ease 0ms;
  transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms, transform 500ms ease 0ms, -webkit-transform 500ms ease 0ms;
}

.mobile-nav__wrapper.expanded .mobile-nav__content {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
  transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
  transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms, transform 500ms ease 500ms;
  transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms, transform 500ms ease 500ms, -webkit-transform 500ms ease 500ms;
}

.text-greenG-Olive {
  color: #889487;
}

.mobile_menu li:nth-child(2), .mobile_menu li:nth-child(4){
  margin-bottom: 20px;
}

.sub-menu{
  margin-left: 13px;
}

.sub-menu li{
  font-family: "Futura-Bk-BT" !important;
}

.sub-menu li:nth-child(2){
  margin-bottom:auto !important;
}


.arrow-left{
  transform: rotate(-90deg);
}

.pagos{
  background-color: #dde3e7;
}

.queja{
  background-color: #E4E4E4;
}